html {
  height: 100%;
}
body {
  min-height: 100%;
}


body{
	background-color: black;
	color: white;
}

.content{
	width: 1170px;
	margin: 0 auto;
	border-right: dashed white;
	border-left: dashed white;
	height: 100vh;
	padding: 10px;
}

.error{
	max-width: 600px;
	min-height: 250px;
	box-shadow: 0 0 10px white;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

