body{
	background-color: black;
	color: white;
}

.content{
	width: 1170px;
	margin: 0 auto;
}

.error{
	max-width: 600px;
	min-height: 250px;
	box-shadow: 0 0 10px white;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

