html {
  height: 100%;
}
body {
  min-height: 100%;
  --width-border-content: dashed white 20px;
}


body{
	background-color: black;
	color: white;
}

.content{
	width: 1170px;
	margin: 0 auto;
	border-right:  var(--width-border-content);
	border-left:   var(--width-border-content);
	height: 100vh;
	padding: 20px;
	color: yellow;
}

.error{
	max-width: 600px;
	min-height: 250px;
	box-shadow: 0 0 10px white;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

